table, td {
  border: 1px solid black;
  }

input {
   border: 1px solid green;
   margin: 5px; 
   border-radius: 4px;
  }

 #overBudget {
  background-color: red;
 }

 #monthlyCost {
  border: 1px solid black;
  margin: 5px;   
 }
